.main {
    height:auto;
    min-height:100vh;
}
.container{
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-top: .5em;
}
hr{
    border-bottom: 1px solid #ccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
ul, li {
    list-style: none;
}

.modeling-process {
    margin: 35px;
    padding: 20px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}

.container_layout{
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}